<!DOCTYPE html>
<html>
<head>
  <title>Geekstickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="menu">
  <li><%= link_to 'Все тикеты', tickets_path %></li>
  <div class="pull-right">
    <% if current_user %>
      <li><%= current_user.email %></li>
      <li><%= link_to 'Выход', logout_path %></li>
    <% else %>
      <li><%= link_to 'Вход', login_path %></li>
      <li><%= link_to 'Регистрация', new_user_path %></li>
    <% end %>

  </div>
</ul>


<hr>

<%= yield %>

</body>
</html>
